<!DOCTYPE html>
<html>
    <title>404</title>
    <head>
      <link rel="icon" href="/pics/weather.png">
      <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
      <div class="main-content">
        {{>header}}
        <p>{{errMsg}}</p>
      </div>
        
        {{>footer}}
    </body>
</html>